/* Estilo para o layout geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    padding-top: 20px;
    background-color: #343a40;
    color: #fff;
}

#sidebar .nav-link {
    color: #ccc;
    font-size: 16px;
}

#sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

#sidebar .nav-link:hover {
    background-color: #0056b3;
    color: #fff;
}

main {
    margin-left: 270px;
    padding: 20px;
}

/* Ajustes para o conteúdo principal */
h2, h3 {
    color: #343a40;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form button {
    margin-right: 10px;
}

a.btn {
    text-decoration: none;
}
