{% extends 'base.html' %}
{% block content %}
<h1>Cadastrar Regra</h1>
<form method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
        <label for="query" class="form-label">Query</label>
        <input type="text" class="form-control" id="query" name="query" required>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}
