{% extends 'base.html' %}
{% block content %}
<h1>Cadastrar Empresa</h1>
<form method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
        <label for="helix" class="form-label">Helix</label>
        <input type="text" class="form-control" id="helix" name="helix" required>
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}
