{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="my-4">Bem-vindo ao Controle de Regras</h1>

        <div class="row">
            <!-- Card para Empresas -->
            <div class="col-md-4">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header">Empresas Cadastradas</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ total_empresas }}</h5>
                        <p class="card-text">Total de empresas cadastradas no sistema.</p>
                        <a href="{{ url_for('list_empresas') }}" class="btn btn-light">Ver Empresas</a>
                    </div>
                </div>
            </div>

            <!-- Card para Regras -->
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Regras Cadastradas</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ total_regras }}</h5>
                        <p class="card-text">Total de regras cadastradas no sistema.</p>
                        <a href="{{ url_for('list_regras') }}" class="btn btn-light">Ver Regras</a>
                    </div>
                </div>
            </div>

            <!-- Card para Associações -->
            <div class="col-md-4">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">Associações de Empresas e Regras</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ total_associacoes }}</h5>
                        <p class="card-text">Total de associações feitas entre empresas e regras.</p>
                        <a href="{{ url_for('list_associacoes') }}" class="btn btn-light">Ver Associações</a>
                    </div>
                </div>
            </div>

            <!-- Card para Regras Não Associadas -->
            <div class="col-md-4">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">Regras Não Associadas</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ total_regras_nao_associadas }}</h5>
                        <p class="card-text">Total de regras não associadas a nenhuma empresa.</p>
                        <a href="{{ url_for('regras_nao_associadas') }}" class="btn btn-light">Ver Regras Não Associadas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
